/* COLORS */
:root {
    --main-red-color: #F1533C;
    --main-yellow-color: #F5DE38;
    --main-light-gray-color: #ACACAC;
    /* --main-black-color: #232528; */
    --main-black-color: #000000;
    /* --main-white-color: #8b8686; */
    --main-blue-color: #245BFF;
    --main-white-color: #ffffff;
}
/* FORMAT */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-black-color);
    margin: 0;
}
/* TITLE */
h1#page-title {
    font-size: 72px;
    padding-left: 6px;
}
/* LINKS */
a {
    color: var(--main-red-color);

}
a:link {
    text-decoration: none;
    font-weight: 900;
}
a:hover {
    color: var(--main-yellow-color);
}
a:active {
    color: #000000;
}
/* 2 COL PARAGRAPH */
.lorem-ipsum-row {
    display: flex;
    margin-left: 120px;
    margin-right:120px;
    padding: 18px;
}
.lorem-ipsum-col {
    flex: 40%;
    text-justify: auto;
    margin-left: 12px;
    margin-right: 12px;;
}
/* TABLE */
table {
    margin-left: auto;
    margin-right: auto;
}
td, th {
    border-bottom: 3px solid var(--main-black-color);
    padding: 32px;
}
th {
    font-weight: bolder;
    font-size: 36px;
    padding-bottom: 3px;
    text-align: left;
    padding-left: 3px;
    padding-right:3px;
}
td.property:hover {
    background-color: var(--main-yellow-color);
}
td.action:hover {
    background-color: var(--main-light-gray-color); 
}
/* NAVIGATION BAR */
.fixed-navbar {
    position:fixed;
    top:0;
    width: 100%;
}
.navbar {
    background-color: var(--main-black-color);
    position: relative;
    overflow: hidden; /*?*/
}
.navbar a.lat-brand {
    font-size: 30px;
    float:left;
    text-align: center;
    padding: 12px;
}
.centered-nav {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar .centered-nav a {
    color: var(--main-light-gray-color);
    font-size: 18px;
    text-align: center; /* Why doesn't this work?*/
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--main-light-gray-color);
}
.navbar a.active-page {
    color: var(--main-red-color);
    border-bottom: 3px solid var(--main-red-color);
}
.navbar .centered-nav a:hover {
    color: var(--main-yellow-color);
    border-bottom: 3px solid var(--main-yellow-color);
}
/* Why doesn't this work? */
.navbar a:active {
    color: var(--main-light-gray-color);
    border-bottom: 3px solid var(--main-light-gray-color); 
}
.navbar .search-bar {
    margin: 10px;
    float:right;
}
.navbar .search-bar input[type=text] {
    padding: 6px;
    font-size: 18px;
    border: 3px solid var(--main-light-gray-color);
    border-radius: 12px;
    outline: none;
    box-shadow: none;
    background: none;
    color: var(--main-light-gray-color);

}
/* .navbar .search-bar input[type=text]:focus {
    border: none;
    color: var(--main-yellow-color);

} */
.navbar .search-bar button {
    float: right;
    padding: 6px 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: var(--main-red-color);
    background-color: var(--main-black-color);
    outline: none;
}
.navbar .search-bar button:hover {
    color: var(--main-yellow-color)
}
/* SPECIFIC TO FOOD PAGE */
/* FOOD IMAGE */
.food-images {
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
    /* text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block; */
}
.image-display {
    /* flex-direction: row; */
}
img.food-image {
    flex-direction: column;
    /* flex: auto; */

    
    width: 20%;
    /*why doesn't this work if it's flex? it does work */
    height: auto;
    /* margin: 12px; */

    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* flex: 100%;  */
    /* we have to flex at the bottom too */
    
}
/* FOOD INFORMATION - FOODS */
div#food-information {
    text-align: center;
}
/* Food table link */
a.table-choice:link {
    text-transform: uppercase;
}
a.table-choice {
    padding: 15px;
}
a#new-food {
    font-size: 36px;
    text-align: left; /* Why doesn't this work? */
    margin-top: 32px; /* This doesn't work either */
}


/* a.table-choice:hover{
    /* background-color: #767573; */
    /* padding: 12px;
    border: 3px solid #ffffff; /*background color*/
    /* border-radius: 12px; */
/*} */